// color
$color-primary: #35cd8c;
$color-text: #2e266f;
$color-bg-light: #fff5ec;
$color-bg-dark: #ffedde;
$color-white: #ffffff;
$color-grey: #707070;

// text
$fz-para: 14px;
$fz-heading-section: 48px;
